<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> gastos </title>
</head>
<body>
    <h1>Añada los datos segun corresponda</h1>
    <form method="POST" action="{{url_for('gastos')}}">
        <label name="categoria">Que categoria de gastos desea agregar?</label> 
        <br/><br/>
        <input name="categoria" type = "text" placeholder="categoria" />
        <br/> <br/>
        <label name="producto">Producto
        <br><br>
            <input name="producto" type="text" placeholder="producto" />
        </label>
        <br><br>
        <label name="gasto">Gasto
        <br><br>
            <input name="gasto" type="number" placeholder="gasto" />
        </label>
        <br><br>
        <input type="submit" value="Enviar"/>
    </form>
</body>
</html>