<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel = "stylesheet" href = "style.css" type = "text/css" />
</head>
<body>
    <h1>Tabla de gastos</h1>

    <table border="1">
        <thead cellpadding="1.0" cellspacing="1.0">
            <tr>    
                <th></th>
                <th style="width: 300px;">categoria</th>
            </tr>
            <tr>
                <th style="width: 300px;">Fecha</th>       
                <th style="width: 300px;">Producto</th>
                <th style="width: 300px;">Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{row['fecha']}}</td>
                <td>{{row['producto']}}</td>
                <td>{{row['gasto']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> <br/><br/>

    <form action="{{url_for('gastos')}}">
        <input type="submit" value="Agregar" />
    </form>


</body>
</html>